/* ********* Custom Properties ********* */
:root {
  --first-color: #f2f3f8;
  --font: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --max-width: 1400px;
  --header-height: 12%;
}

/* ********* Reset ********* */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}
h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}
img {
  max-width: 100%;
  /* height: auto; */
}
li {
  list-style-type: none;
}
p {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: var(--font);
}

/* ********* Components ********* */

/* ********* Utilities ********* */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer {
  width: 100%;
  height: 4rem;
  background-color: var(--first-color);
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content p {
  width: inherit;
  height: inherit;
  text-align: center;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  min-width: 1100px;
  width: 100%;
  max-height: var(--header-height);
  background-color: var(--first-color);
}
.header-container {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
}
.hero-image {
  width: 100%;
  height: 130vh;
  background-image: url(../assets/CO-Certeza-images-Contenido/CM-RCerteza-Contenido_03.jpg);
  background-repeat: no-repeat;
  background-color: var(--first-color);
  background-position: 50% 20%;
}
.hero-image-content {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/CO-Certeza-images-Contenido/CM-RCerteza-Contenido_03.jpg);
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: top;
  background-size: cover;
}
main {
  flex-grow: 1;
}
.main-content {
  width: 90%;
  margin: 0 auto;
}
.nav {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.nav a {
  font-size: 0.9rem;
  padding: 0.3rem;
  margin: 0 1rem;
  text-decoration: none;
  color: black;
  border-top: solid 0.4rem;
}
.nav a:nth-child(1) {
  border-color: #37bff9;
}
.nav a:nth-child(2) {
  border-color: #07b6ac;
}
.nav a:nth-child(3) {
  border-color: #646cb4;
}
.nav a:nth-child(4) {
  border-color: #0170d0;
}
.nav a:nth-child(5) {
  border-color: #a786a5;
}
.main-content {
  width: 80%;
  max-width: 1100px;
  min-width: 1000px;
  margin: 0 auto;
}
.blue {
  color: #144389;
}
.blue-light {
  color: #2371e7;
}
.pink {
  color: #a786a5;
}
.margin {
  margin-top: 50px;
  margin-bottom: 50px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-top {
  margin-top: 20px;
}
/* directorio */
.main-header {
  min-width: 1100px;
  width: 100%;
  height: 500px;
  position: relative;
  background-image: url(../assets/CO-Certeza-images-Contenido/CM-RCerteza-Contenido_03.jpg);
  background-repeat: no-repeat;
  z-index: -10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-text {
  font-size: 2rem;
}
.header-text h2{
  text-align: right;
  font-size: 2.5rem;
}
hr {
  margin: 2rem 20% 0;
  width: 80%;
  border: solid #144389;
}

.content {
  display: grid;
  grid-template-columns: repeat(1, 50% 50%);
  gap: 20px;
}
.main-footer h2 {
  border-bottom: solid #144389;
  width: 15%;
  margin-bottom: 1rem;
}

.main-footer p {
  line-height: 1;
}
.imagenes{
  display: flex;
  margin-top: -230px;
  justify-content: space-between;
  align-items: center;
}
.hr{
  margin-left: 80%;
  width: 20%;
}
.parrafo-0{
  text-align: right;
}
.parrafo-0 p{
  font-size: 1.2rem;
line-height: 1.2;
}
.dos {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-dos p {
  text-align: right;
  font-size: 1.4rem;
  line-height: 1;
}

.hr-header {
  width: 20%;
  border: solid #144389;
  margin: 1rem 80%;
}

.imagenes img{
height: 12rem;
}
a{
  font-size: 1.3rem;
  display: block;
  text-decoration: none;
}

.blue-dos {
  color: #38C0F0;
}