<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components Certeza</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <!-- header -->
    <header class="header">
      <div class="header-container">
        <div class="logo-header">
          <img
            src="./assets/CO-Certeza-images-Landing/CM-RCerteza-Landing_01.png"
            alt="CM-RCerteza-Landing_01.png"
          />
        </div>
        <nav class="nav">
          <a href="index.html">EDICIÓN ACTUAL</a>
          <a href="index.html">EDICIONES ANTERIORES</a>
          <a href="index.html">SOBRE NOSOTROS</a>
          <a href="index.html">COMITÉ EDITORIAL</a>
          <a href="index.html">CONTÁCTENOS</a>
        </nav>
      </div>
    </header>
    <main>
      <!-- Headers -->
      <!-- 1 -->
      <article class="header-1">
        <p><b>Nombre</b></p>
        <p>DATA</p>
        <p>EMAIL</p>
        <hr />
      </article>
      <hr />
      <!-- 2 -->
      <article class="header-2">
        <img src="" alt="" />
        <div class="text-container">
          <div class="hr-container">
            <hr />
          </div>
          <div class="data-container">
            <p><b>Nombre</b></p>
            <p>DATA</p>
            <p>EMAIL</p>
            <hr />
            <p>DATA</p>
            <p>EMAIL</p>
            <p>EMAIL</p>
          </div>
        </div>
      </article>
      <hr />
      <!-- 3 -->
      <!-- Headers -->
    </main>
    <!-- Footer -->
    <footer class="footer">
      <p>
        Revista del Comité Normativo Nacional de Consejos de Especialidades
        Médicas.A.C.
      </p>
    </footer>
  </body>
</html>
