<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certeza</title>
    <link rel="stylesheet" href="./template.css" />
    <link rel="stylesheet" href="./css/fonts.css" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="logo-header">
          <img
            src="./assets/iconos/CM-RCerteza-Landing_01.png"
            alt="CM-RCerteza-Landing_01.png"
          />
        </div>
        <nav class="nav">
          <a href="index.html">EDICIÓN ACTUAL</a>
          <a href="index.html">EDICIONES ANTERIORES</a>
          <a href="index.html">SOBRE NOSOTROS</a>
          <a href="index.html">COMITÉ EDITORIAL</a>
          <a href="index.html">CONTÁCTENOS</a>
        </nav>
      </div>
    </header>
    <main>
      <section class="margin-5">
        <article class="image-header">
          <img
            src="./assets/bloques/2/Jpg-Bloque2-Ed3/CM-Certeza-Entrevista-Ed3/CM-RCerteza-LaEntrevista-ED3_02.jpg"
            alt=""
          />
        </article>
      </section>
    </main>
    <footer class="footer">
      <p>
        Revista del Comité Normativo Nacional de Consejos de Especialidades
        Médicas.A.C.
      </p>
    </footer>
  </body>
</html>
