html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../assets/font/Gill\ Sans.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f4f5f6;
  /* overflow-x: hidden; */
}

a {
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}
h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}
img {
  max-width: 100%;
  /* height: auto; */
}
ul {
  list-style: inside;
  padding-left: 0;
  list-style-type: none;
}
ol {
  list-style: inside;
  padding-left: 0;
  /* list-style-type: none; */
}
p {
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-family: var(--font);
  text-align: justify;
}
