/* ********* Utilities ********* */
.parrafo-blue {
  color: #0a144d;
}
/* margins */
.margin-10 {
  margin-bottom: 10%;
}
.margin-1 {
  margin-bottom: 1%;
}
.margin-2 {
  margin-bottom: 2%;
}
.margin-3 {
  margin-bottom: 3%;
}
.margin-4 {
  margin-bottom: 4%;
}
.margin-5 {
  margin-bottom: 5%;
}
.margin-6 {
  margin-bottom: 6%;
}
.margin-7 {
  margin-bottom: 7%;
}
.margin-10 {
  margin-bottom: 10%;
}
.margin-15 {
  margin-bottom: 15%;
}
.margin-auto {
  margin: 0 auto;
}
/* font sizes */
.font-size-0-8 {
  font-size: 0.8rem;
}
.font-size-1 {
  font-size: 1rem;
}
.font-size-1-1 {
  font-size: 1.1rem;
}
.font-size-1-2 {
  font-size: 1.2rem;
}
.font-size-1-3 {
  font-size: 1.3rem;
}
.font-size-1-4 {
  font-size: 1.4rem;
}
.font-size-1-6 {
  font-size: 1.6rem;
}
.font-size-2 {
  font-size: 2rem;
}
.font-size-2-5 {
  font-size: 2.5rem;
}
.content-hr {
  margin-bottom: 2rem;
}
hr {
  background-color: rgb(0, 0, 114);
  height: 5px;
  border: none;
}
/* Colors */
.green {
  color: var(--green);
}
.bg-green {
  background-color: var(--green);
}
.purple {
  color: var(--purple);
}
.bg-purple {
  background-color: var(--purple);
}
.dark-purple {
  color: var(--dark-purple);
}
.bg-dark-purple {
  background-color: var(--dark-purple);
}
.blue {
  color: rgb(0, 0, 114);
}
.bg-blue {
  background-color: rgb(0, 0, 114);
}
.blue-comite {
  color: var(--blue-comite);
}
.bg-blue-comite {
  background-color: var(--blue-comite);
}
.blue-espejo {
  color: var(--blue-espejo);
}
.bg-blue-espejo {
  background-color: var(--blue-espejo);
}
.blue-como-lo-se {
  color: var(--blue-como-lo-se);
}
.bg-blue-como-lo-se {
  background-color: var(--blue-como-lo-se);
}
.blue-certificacion {
  color: var(--blue-certificacion);
}
.bg-blue-certificacion {
  background-color: var(--blue-certificacion);
}
.blue-medicos {
  color: var(--blue-medicos);
}
.bg-blue-medicos {
  background-color: var(--blue-medicos);
}
.blue-pizarron {
  color: var(--blue-pizarron);
}
.bg-blue-pizarron {
  background-color: var(--blue-pizarron);
}
.purple-entrevista {
  color: var(--purple-entrevista);
}
.bg-purple-entrevista {
  background-color: var(--purple-entrevista);
}
.purple-consulta {
  color: var(--purple-consulta);
}
.bg-purple-consulta {
  background-color: var(--purple-consulta);
}
.dark-blue {
  color: var(--dark-blue);
}
.bg-dark-blue {
  background-color: var(--dark-blue);
}
.blue-title {
  color: var(--blue-title);
}
.blue-p {
  color: var(--blue-p);
}
.gray {
  color: rgb(172, 172, 172);
}
.pink {
  color: var(--pink);
}
.bg-pink {
  background-color: var(--pink);
}
/* text */
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.text-right {
  text-align: right;
}
.grafica {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2%;
}
.img-width {
  width: 60%;
  display: block;
  margin: 0 auto 1% auto;
}
.column-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
}
.line-height-8 {
  line-height: 0.8;
}
.hr-footer {
  position: relative;
  width: 20%;
  margin: 1% auto 1% 0;
}
.parrafo-center {
  width: 80%;
  margin: 0 auto 2rem auto;
}
.img-center {
  width: 80%;
  margin: 0 auto 2rem auto;
  display: block;
}
.align-items-center{
  align-items: center;
}